/* nav bar section responsive styling */
@media only screen and (min-width: 1100px) {
 nav img {
    display: none;
 }

 .main-info #mobile {
     display: none;
 }

}

/* medium screen 600px to 992px */
@media only screen and (min-width: 600px) and (max-width: 1100px) {

 /*nav bar section responsive  */
    #school, #academy{
        display: none;
    }

   nav img {
       display: none;
    }

/* banner section responsive styling */
    #banner {
        padding: 0 16px 0 0;
        width: 100%;
    }

    .cotent-banner {
        padding: 0;
        width: 100%;
        align-items: center;
    }

    /* .content, .content-banner {
        padding: 0;
        width: 100%;
        align-items: left;
        justify-content: flex-start;
        flex-direction: column;
        -webkit-flex-direction: column;
        background-color: lightgray;
    } */

    .text {
        margin: 0;
    }

    .content #banner-img {
        width: 95%;
        height: auto;
        float: left;
        margin-right: 24px;
    }

    #btn-main {
        margin: 0;
        padding-top: 32px;
    }

/* main information - orientation */
    .main {
        display: none;
    }

/* .main-info {
        padding: 0;
        width: 100%;
        align-items: left;
        justify-content: flex-start;
        flex-direction: column;
        -webkit-flex-direction: column;
        background-color: lightgray;
        order: 0;
        justify-content: flex-start;
        background-color: white;
        padding: 0;
        margin: 0;
        } */

    #orientation, #campus, #guest {
        padding: 0 100px;
        width: 100%;
        align-items: left;
        justify-content: flex-start;
        flex-direction: column;
        -webkit-flex-direction: column;
        background-color: lightgray;
    }

    #orientation img, #campus img, #guest img {
    /* REMEMBER TO CHANGE TO NEW IMAGES */

        float: left;
        width: 100%;
        /* align-content: stretch; */
        /* padding-top: 20px; */
        /* padding-right: 24px; */
        /* padding-left: 12px; */
    }

    .main-info #normal {
        display: none;
    }

    #orient-date {
        font-size: .95rem;
        text-align: left;
        padding-top: 15px;
    }
    
    #schedule {
        font-size: .75rem;
        text-align: left;
    }
    
    #read-more {
        font-size: .75rem;
        text-align: left;
    }
    
    #read-more a {
        color: blue;
    }
    
/* courses section responsive styling */
    #learning {
        text-align: left;
    }

    #courses {
        justify-content: flex-start;
        background-color: white;
        padding: 0;
        margin: 0;
     } 

    .all-courses-one, .all-courses-two {
        padding: 0;
        /* width: 100%; */
        align-items: left;
        justify-content: flex-start;
        flex-direction: column;
        -webkit-flex-direction: column;
        background-color: lightgray;
         
        }
    #software, #computer, #design, #data, #business, #marketing {
        border: solid white 8px;
        padding: 0 160px;
        text-align: left;
    }

    #software img, #computer img, #design img, #data img, #business img, #marketing img{
        display: none;
    }

    .courses-title, .course-descrip {
        display: none;
    }

 /* thesis section responsive styling */
    .thesis-section h3, .thesis-section p, .fisma-now-then {
        display: none;
    }

/* footer section responsive styling */
    #terms, #privacy {
        display: none;
    }

}

