
/* navigation */
ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
}

#school {
    font-size: 32px;
}

/* main info banner */
#banner {
    background-color: lightgrey;
    background-size: cover;
    background-position: center;
    padding: 32px 24px;
}

#banner-img {
    size: 60%;
  

}