/* universal styles */

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    text-align: center;
    
}

.flex-container {
    display: inline-flex;
  }

/* navigation bar section*/
header {
    width: 100%;
    height: 64px;
    align-items: center;
    background-color: white;
  }
  
  header img {
    height: 60px;
    margin-left: 24px;
    position: center;
    float: left;
  }

  #school {
    font-size: 32px;
    padding-bottom: 16px;
    padding-top: 16px;
    float: left;
    text-align: right;
  }

  #academy {
      color: grey;
  }
  
  nav {
    font-size: 20px;
    text-align: right;
    flex-grow: 6.5;
    padding-bottom: 16px;
    padding-top: 16px;
    position: center;
   
  }
  
  nav span {
    display: inline-block;
    margin-left: 16px;
     }

  #signin {
    margin-right: 24px;
  }

  a {
      text-decoration: none;
      color: black;
  }

  a:hover {
    color: lightgrey;
  }

  /* banner section */
#banner {
    background-color: lightgrey;
    padding: 32px 24px;
    flex-direction: row;
    width: 100%; 
    flex-wrap: wrap; 
    display: inline-block;
}

.content, #banner-img{
    height: auto;
    width: 60%;
    float: left;
    flex-shrink: 0;
    flex: 0;
    overflow: auto;
  }

.content-banner {
    align-items: flex-end;
    justify-content: center;
    float: right;
    width: 40%;
    padding-top: 75px;
    padding-bottom: 75px;
}

.text {
    text-align: left;
    margin: 24px 32px;
    align-content: center;
}

.content-banner p {
    font-size: 1.25rem;
    align-content: space-around;
}

/* button - start here */

#btn-main {
    margin-left: 32px;
    padding-top: 45px;
    float: left;
}

.btn-main {
    padding: 8px 140px;
    color: white;
    background-color: black;
    opacity: .75;
}

.btn-main:hover {
    background-color: gray;
    color: white;
}

  /* orientation main section*/
  
  .main {
    padding: 32px 0;
    padding-left: 24px;
    flex-direction: column;
    width: 60%;
    flex-wrap: wrap;
    float: left;
    }

#main img{
    height: auto;
    width: 100%;
    flex-shrink: 0;
    flex: 0;
}

#info-main {
    text-align: left;
    align-content: center;
    flex-wrap: wrap;
}

#quote {
    font-size: .75em;
    align-content: space-around;
}

#author {
    font-size: .75em;
    align-content: space-around;
}

/* smaller section of orientation to the right side */
.main-info {
    flex-direction: column;
    width: 35%;
    flex-wrap: wrap;
    float: right;
    padding-top: 32px;
}

#orientation img, #campus img, #guest img {
    float: left;
    width: 35%;
    padding-top: 20px;
    padding-right: 24px;
    padding-left: 12px;
}

#orient-date {
    font-size: .95rem;
    text-align: left;
    padding-top: 15px;
}

#schedule {
    font-size: .75rem;
    text-align: left;
}

#read-more {
    font-size: .75rem;
    text-align: left;
}

#read-more a {
    color: blue;
}

#guest {
    background-color: lightgray;
}

/* courses section */
#courses {
    background-color: lightgray;
    flex-direction: row;
    width: 100%; 
    flex-wrap: wrap; 
    display: inline-block;
    padding-bottom: 32px;
}

.all-courses-one, .all-courses-two {
    display: flex;
    float: left;
    margin: 0 72px;
    width: 90%;
    justify-content: space-between;
    background-color: white;
}

#software, #computer, #design, #data, #business, #marketing{
    width: 40%;
    float: left;
    align-content: space-around;
    flex-wrap: wrap;
    border: solid lightgray 16px;
    }

#software img, #computer img, #design img, #data img, #business img, #marketing img{
    width: 100%;
}

.course-name {
    font-size: 1rem;
    text-align: left;
    margin-left: 16px;
}

.courses-title {
    font-size: .90rem;
    text-align: left;
    margin-left: 16px;

}

.course-descrip {
    font-size: .85rem;
    text-align: left;    
    margin-left: 16px;
    margin-right: 16px;
}

/* thesis section */

.thesis-section {
    padding-left: 24px;
    flex-direction: column;
    width: 60%;
    flex-wrap: wrap;
    float: left;
    padding-bottom: 32px;
    }

 video {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    flex: 0;
}

.thesis-section {
    text-align: left;
    align-content: center;
    flex-wrap: wrap;
}

.thesis-section h3 {
    font-size: 1rem;
    justify-content: center;
    text-align: left;
}

.thesis-section p {
    font-size: .85rem;
    justify-content: center;
    text-align: left;
}


/* video section right side */
.fisma-now-then {
    flex-direction: column;
    width: 35%;
    flex-wrap: wrap;
    float: right;
    padding-bottom: 32px;
}

#fisma img, #now-then img {
    float: left;
    height: auto;
    width: 35%;
    padding-top: 20px;
    padding-right: 24px;
    padding-left: 12px;
   }

#fisma {
    background-color: lightgray;
    padding-bottom: 24px;
}

#fisma h3, #now-then h3 {
    font-size: .95rem;
    justify-content: center;
    text-align: left;
   }

#fisma h3 {
    padding-top: 40px;
}

#now-then h3 {
    padding-top: 55px;
}

#fisma p, #now-then p{
    font-size: .75rem;
    justify-content: center;
    text-align: left;
}

/* footer */

footer {
    width: 100%;
    height: 64px;
    background-color: white;
 
  }

  #copy {
    font-size: 20px;
    text-align: left;
    margin-left: 24px;
  }

  #terms {
    font-size: 20px;
    text-align: right;
    flex-grow: 6.5;
    position: center;
    display: inline-block;
  }

  #privacy {
    font-size: 20px;
    margin-left: 16px;
    margin-right: 24px;
  }

  




