/* universal styles */

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: lightgrey;
}

.flex-container {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    /* width: 100%; */
  }

/* navigation */
header {
    width: 100%;
    height: 64px;
    align-items: center;
    background-color: white;
  }
  
  header img {
    height: 60px;
    margin-left: 24px;
    position: center;
  }

  #school {
    font-size: 32px;
    padding-bottom: 16px;
    padding-top: 16px;
    position: center;
  }

  #academy {
      color: grey;
  }
  
  nav {
    text-align: right;
    flex-grow: 1;
    padding-bottom: 16px;
    padding-top: 16px;
    
  }
  
  nav span {
    display: inline-block;
    margin-left: 16px;
  }

  #signin {
    margin-right: 24px;
  }

  a {
      text-decoration: none;
      color: black;
  }

  a:hover {
    color: lightgrey;
  }

/* button */
.btn-main {
    padding: 8px 20px;
   
    color: white;
    background-color: darkslategray;
    width: auto;
}

.btn-main:hover {
    background-color: gray;
    color: white;
}

  /* banner section */


#banner-img{
    float: left;
    padding: 32px 24px;
    height: auto;
    width: 60%;
}

/* .content-banner {
    
    text-align: left;
    display: inline-block;
    width: 40%;

} */

